services:
  
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"  
      - "9001:9001"  
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - s3-network

  
  s3uploader:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: s3uploader
    ports:
      - "8080:8080"  
    depends_on:
      minio:
        condition: service_healthy
    environment:
      S3_ENDPOINT: minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_USE_SSL: "false"
    networks:
      - s3-network
    restart: on-failure

volumes:
  minio_data:
    driver: local

networks:
  s3-network:
    driver: bridge

